@import "../../../cores.scss";

.btn{
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;

  cursor: pointer;
  padding: 20px 40px;

  &:disabled{
    opacity: 0.6;
  }

  &.primary {
    color: white;
    background: -webkit-linear-gradient(180deg, $cor-primaria, $cor-secundaria);

    font-size: 24px;
    font-weight: 600;
    padding: 20px;

  }
  &.secondary {
    color: white;
    background: $cor-primaria;

    font-size: 16px;
    font-weight: 600;


  }
}
